<style>
  p: {
    font-size: 30px;
  }
  a: {
    border-radius: 10px;
    height: 50px;
    width: 100px;

    background-color: #0ff;
  }
</style>
<div>
  <p>Olá {{name}}! Ficamos muito felizes pela sua inscrição</p>
  <p>Agora, precisamos apenas que confirme a sua inscrição clicando no botão abaixo.</p>
  <a href="{{link}}?user_id={{user_id}}">Confirme sua conta</a>
</div>